/*$color variables$*/
$black: #263238;
$dark-grey: #4d4d4d;
$grey: #717171;
$light-grey: #89939e;
$grey-blue: #abbed1;
$silver: #f5f7fa;
$white: #ffffff;
$primary: #4caf4f;
$secondary: #263238;
$info: #2194f3;
$shade1: #43a046;
$shade2: #388e3b;
$shade3: #237d31;
$shade4: #1b5e1f;
$shade5: #103e13;
$tint1: #66bb69;
$tint2: #81c784;
$tint3: #81c784;
$tint4: #c8e6c9;
$tint5: #e8f5e9;
$warning: #fbc02d;
$error: #e53835;
$success: #2e7d31;

/*$shadow variables$*/
$box-shadows: (
  "box-shadow": 0px 8px 16px 0px rgba(171, 190, 209, 0.4),
);

/*$fonts variables$*/
$font-family: Inter;

$font-weights: (
  "regular": 400,
  "medium": 500,
  "semi-bold": 600,
  "bold": 700,
);

$font-sizes: (
  "regular-body-4": 14px,
  "regular-body-3": 16px,
  "regular-body-2": 20px,
  "regular-body-1": 28px,
  "regular-headline-3": 36px,
  "regular-headline-2": 64px,
);

$line-heights: (
  "small": 20px,
  "normal": 24px,
  "medium": 28px,
);

/*$spacing variables$*/
$margin-bottom: (
  "tiny": 8px,
  "small": 12px,
  "normal": 16px,
  "normal-medium": 24px,
  "medium": 32px,
  "medium-big": 40px,
  "big": 48px,
);

$border-radius: (
  "tiny": 2,
  78px,
  "small": 6px,
  "medium": 8px,
);

/*$position variables$*/
$align-items: (
  "center": center,
  "flex-start": flex-start,
);

$position: (
  "sticky": sticky,
  "absolute": absolute,
  "relative": relative,
);

$display: (
  "flex": flex,
  "block": block,
  "inline-block": inline-block,
);
