@import "./variables";
@import "./mixins";

*,
*::before,
*::after {
  box-sizing: border-box; /*This makes all paddings/borders included in the width calculation:*/
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  padding: 0px 144px;
}
body {
  font-family: $font-family, sans-serif;
}
button {
  background-color: $white;
  /*font-size: 1rem;*/
  border: none;
  border-radius: $small;
  transition: 150ms ease-in-out;
  transition-property: background-color, color;
}

/*fonts*/
h1 {
  font-size: $regular-headline-2;
  color: $dark-grey;
  margin-bottom: $margin-bottom-normal;
}

h2 {
  font-size: $regular-headline-3;
  color: $dark-grey;
  margin-bottom: $margin-bottom-tiny;
}

h3 {
  font-size: $regular-body-1;
  color: $dark-grey;
  margin-bottom: $margin-bottom-normal;
}

h4 {
  font-size: $regular-body-2;
  color: $primary;
  font-weight: $semi-bold;
  line-height: $medium;
}

p {
  font-size: $regular-body-3;
  color: $grey;
  margin-bottom: $margin-bottom-medium;
}
button {
  font-family: $font-family;
  font-size: $regular-body-3;
  font-weight: $medium;
  line-height: $normal;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  .primary-medium {
    @extend .button;
    background-color: $primary;
    color: $white;
    border: 0;
    border-radius: $tiny;
    padding: 14px 32px;
    transition: background 0.4s, color 0.2s; /* smooth transition */

    & &:hover {
      background: $shade2;
    }
  }
  .button-green-underline {
    @extend .button;

    display: $flex;
    cursor: pointer;
    align-items: $center;
    padding: 8px;
    gap: 8px;
    background-color: $silver;
    margin: 0px auto;

    &:hover {
      text-decoration: underline;
      text-decoration-color: $primary;
    }
  }
}
/*--header--*/
header {
  @include flexSpaceBetween;
  align-items: $center;
  position: $sticky;
  top: 0px;
  background-color: $white;
}

.right-menu {
  @include flexCenter;
  padding: 16px;
  gap: 51px;
  color: $dark-grey;
}

.highlight {
  color: $primary;
  font-weight: $bold;
}

/*--main--*/
.main-wrapper {
  @include flexCenter;
  margin-bottom: $margin-bottom-big;
}

/*--hero-section--*/

.hero-section {
  padding: 96px 144px;
  gap: 104px;
  background-color: $silver;

  > img {
    margin: auto 0;
  }
}
.frame {
  align-items: $flex-start;
}

/*--clients--*/
.clients {
  padding: 0px 144px;
  text-align: center;

  > p {
    margin-bottom: $margin-bottom-normal;
  }
}

.clients-logos {
  @include flexSpaceEvenly;
  align-items: $center;

  > img {
    width: 48px;
    margin: 16px 0px;
  }
}

/*--community--*/
.community {
  margin: 40px 0px;
}
.community-box {
  color: $dark-grey;
  text-align: center;
}

.frame-4 {
  @include flexSpaceBetween;
  align-items: $center;
}

.frame-4-group {
  text-align: center;
  margin: 24px 32px;

  > p {
    max-width: 250px;
    font-size: $regular-body-4;
    line-height: $small;
  }
}

/*--unlock-mobile --*/ /*--calender--*/

.frame-img {
  margin: 52px auto;
}

.frame-5,
.frame-7 {
  max-width: 661px;
}

/*--achievements--*/
.achievements {
  @include flexSpaceBetween;
  background-color: $silver;
  padding: 64px 144px;
}
.achievements-frame-rights {
  @include flexCenter;
  gap: 30px;

  > h3 {
    font-weight: $bold;
  }
}
.row-frame-text {
  margin: 0px;
}

.achievements-numbers {
  @include flexCenter;
  gap: 16px;
  margin-bottom: $margin-bottom-medium-big;
}

/*--customers--*/
.customers {
  background-color: $silver;
  gap: 78px;

  > img {
    width: 326px;
    height: 326px;
  }
}

.frame-customers {
  max-width: 750px;
  margin: 55px;
}
.frame-customers-content {
  margin-bottom: $margin-bottom-normal;
}
.special-p {
  color: $light-grey;
  margin-bottom: $margin-bottom-medium;
}
.frame-customers-icons {
  @include flexCenter;
  gap: 28px;
}

/*--community-updates--*/
.community-updates {
  text-align: center;

  > p {
    max-width: 628px;
    margin: 0px auto 16px auto;
  }
}

.frame-community-updates {
  @include flexSpaceBetween;
  max-width: 1440px;
  padding: 0px 144px;
  align-items: $center;
  margin: 0px auto;
}
.picture-box {
  position: $relative;

  > img {
    border-radius: $medium;
    background: lightgray 50% / cover no-repeat;
    display: $block;
  }
}

.picture-box-content {
  @include positionAbsoluteCenter;
  transform: translate(8%);
  padding: 16px;
  border-radius: $medium;
  background: $silver;
  /* Shadow/8px */
  box-shadow: $box-shadow;

  > h4 {
    max-width: 285px;
    color: $grey;
  }
}

/*--pre-footer--*/
.pre-footer {
  margin-top: 95px;
  padding: 32px 0px;
  background: $silver;
}

/*--footer--*/
footer {
  @include flexSpaceBetween;
  padding: 64px 165px;
  gap: 125px;
  background: $black;

  // Left div of footer
  > div:first-child {
    .footer-logo {
      img {
        margin: 0 10px 40px 0;
      }
    }

    .copyright {
      margin-bottom: $margin-bottom-medium-big;

      p {
        color: $silver;
        width: 350px;
        font-family: $font-family;
        font-size: $regular-body-4;
        font-style: normal;
        font-weight: $regular;
        line-height: $small;
        margin: 0;
      }
    }

    .icons-footer {
      @include flexStart;
      gap: 16px;
      cursor: pointer;

      img {
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  // Right div of footer
  .footer-right {
    display: $flex;
    gap: 30px;

    .footer-column {
      .footer-column-header {
        color: $white;
        margin-bottom: $margin-bottom-normal-medium;
      }

      .footer-column-items {
        list-style: none;
        color: $silver;
        font-size: $regular-body-4;
        line-height: $small;
        margin-right: 60px;

        li {
          cursor: pointer;
          margin-bottom: $margin-bottom-small;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .footer-column-with-input {
      .footer-column-header {
        color: $white;
        margin-bottom: $margin-bottom-normal-medium;
      }

      .input-with-icon {
        position: $relative;
        display: $inline-block;
        width: 255px;
        border-radius: $medium;
        opacity: 0.2;
        background: $white;

        input[type="email"] {
          width: 100%;
          padding-left: 10px;
          box-sizing: border-box;
          height: 40px;
          border-radius: $medium;

          &::placeholder {
            font-family: $font-family;
            font-size: $regular-body-4;
            font-style: normal;
            font-weight: $regular;
            line-height: $small;
            opacity: 1;
            color: $white;
          }
        }

        .input-icon {
          @include positionAbsoluteCenter;
          right: 10px;
          transform: translateY(-50%);
          pointer-events: none;
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}
