@import "base/variables";
@import "utiles/mixins";
@import "utiles/responsive";
@import "layout/header";
@import "layout/wrapper";
@import "layout/hero";
@import "layout/clients";

*,
*::before,
*::after {
  box-sizing: border-box; /*This makes all paddings/borders included in the width calculation:*/
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  padding: 16px; // мобільна версія за замовчуванням

  @include media-tablet {
    padding: 32px;
  }

  @include media-laptop {
    padding: 0px 144px;
  }
}
body {
  font-family: $font-family, sans-serif;
}
button {
  background-color: $white;
  /*font-size: 1rem;*/
  border: none;
  border-radius: map-get($border-radius, "small");
  transition: 150ms ease-in-out;
  transition-property: background-color, color;
}

/*fonts*/
h1 {
  font-size: map-get($font-sizes, "regular-headline-3");
  color: $dark-grey;
  margin-bottom: map-get($spacing, "margin-bottom-normal");

  @include media-tablet {
    font-size: map-get($font-sizes, "regular-headline-3");
  }

  @include media-laptop {
    font-size: map-get($font-sizes, "regular-headline-2");
  }
}

h2 {
  font-size: map-get($font-sizes, "regular-body-1");
  color: $dark-grey;
  margin-bottom: map-get($spacing, "margin-bottom-tiny");

  @include media-tablet {
    font-size: map-get($font-sizes, "regular-body-1");
  }

  @include media-laptop {
    font-size: map-get($font-sizes, "regular-body-1");
  }
}

h3 {
  font-size: map-get($font-sizes, "regular-body-2");
  color: $dark-grey;
  margin-bottom: map-get($spacing, "margin-bottom-normal");

  @include media-tablet {
    font-size: map-get($font-sizes, "regular-body-2");
  }

  @include media-laptop {
    font-size: map-get($font-sizes, "regular-body-1");
  }
}

h4 {
  font-size: map-get($font-sizes, "regular-body-3");
  color: $primary;
  font-weight: map-get($font-weights, "semi-bold");
  line-height: map-get($line-heights, "medium");

  @include media-tablet {
    font-size: map-get($font-sizes, "regular-body-3");
  }

  @include media-laptop {
    font-size: map-get($font-sizes, "regular-body-2");
  }
}

p {
  font-size: map-get($font-sizes, "regular-body-4");
  color: $grey;
  margin-bottom: map-get($spacing, "margin-bottom-medium");

  @include media-tablet {
    font-size: map-get($font-sizes, "regular-body-3");
  }

  @include media-laptop {
    font-size: map-get($font-sizes, "regular-body-3");
  }
}
button {
  font-family: $font-family;
  font-size: map-get($font-sizes, "regular-body-3");
  font-weight: map-get($font-weights, "medium");
  line-height: map-get($line-heights, "normal");
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
.button.primary-medium {
  background-color: $primary;
  color: $white;
  border: 0;
  border-radius: map-get($border-radius, "tiny");
  padding: 14px 32px;
  transition: background 0.4s, color 0.2s; /* smooth transition */

  &:hover {
    background: $shade2;
  }
}
.button-green-underline {
  display: map-get($display, "flex");
  cursor: pointer;
  align-items: map-get($align-items, "center");
  padding: 8px;
  gap: 8px;
  background-color: $silver;
  margin: 0px auto;

  &:hover {
    text-decoration: underline;
    text-decoration-color: $primary;
  }
}
// /*--header--*/
// header {
//   position: map-get($position, "sticky");
//   top: 0px;
//   background-color: $white;
//   padding: 16px 0px;
//   z-index: 1000;
// }

// header .container {
//   @include flexSpaceBetween;
//   align-items: map-get($align-items, "center");
// }

// .right-menu {
//   display: none;

//   @include media-laptop {
//     @include flexCenter;
//     gap: 32px;
//     color: $dark-grey;
//   }
// }

// .burger {
//   display: block;
//   width: 32px;
//   height: 24px;
//   position: relative;
//   cursor: pointer;

//   span {
//     display: block;
//     height: 3px;
//     width: 100%;
//     background-color: $dark-grey;
//     position: absolute;
//     left: 0;
//     border-radius: 2px;

//     &:nth-child(1) {
//       top: 0;
//     }
//     &:nth-child(2) {
//       top: 50%;
//       transform: translateY(-50%);
//     }
//     &:nth-child(3) {
//       bottom: 0;
//     }
//     @include media-laptop {
//       display: none;
//     }
//   }
// }

// .highlight {
//   color: $primary;
//   font-weight: map-get($font-weights, "bold");
// }

// /*--main--*/
// .main-wrapper {
//   @include flexCenter;
//   flex-direction: column;
//   gap: 32px;
//   margin-bottom: map-get($spacing, "$margin-bottom-big");

//   img {
//     max-width: 100%;
//     height: auto;
//   }

//   > div {
//     text-align: center;
//     max-width: 100%;
//   }

//   @include media-tablet {
//     flex-direction: row;
//     align-items: center;
//     justify-content: space-between;
//     gap: 48px;

//     > div {
//       flex: 1;
//       text-align: left;
//     }

//     img {
//       flex: 1;
//       max-width: 50%;
//     }
//   }

//   @include media-laptop {
//     gap: 64px;
//     margin-bottom: map-get($spacing, "margin-bottom-huge");

//     > div {
//       max-width: 600px;
//     }
//   }
// }

// /*--hero-section--*/

// .hero-section {
//   @include flexCenter;
//   flex-direction: column;
//   gap: 48px;
//   padding: 48px 16px;
//   background-color: $silver;
//   text-align: center;

//   > img {
//     max-width: 100%;
//     height: auto;
//     margin: 0 auto;
//   }

//   @include media-tablet {
//     @include flexSpaceBetween;
//     flex-direction: row;
//     // justify-content: space-between;
//     // align-items: center;
//     gap: 64px;
//     padding: 64px 32px;
//     text-align: left;

//     > img {
//       flex: 1;
//       max-width: 50%;
//       margin: auto 0;
//     }
//   }

//   @include media-laptop {
//     gap: 104px;
//     padding: 96px 144px;

//     > img {
//       max-width: 45%;
//     }
//   }
// }

// .frame {
//   @include flexStart;
//   flex-direction: column;
//   gap: 24px;

//   h1 {
//     margin-bottom: 16px;
//   }

//   p {
//     margin-bottom: 24px;
//   }

//   /* mobile */
//   @media (max-width: 767px) {
//     align-items: center;
//     text-align: center;
//   }
// }

// /*--clients--*/
// .clients {
//   padding: 48px 16px;
//   text-align: center;

//   > p {
//     margin-bottom: map-get($spacing, "$margin-bottom-normal");
//   }

//   @include media-tablet {
//     padding: 64px 32px;
//   }

//   @include media-laptop {
//     padding: 96px 144px;
//   }
// }

// .clients-logos {
//   @include flexCenter;
//   flex-wrap: wrap;
//   gap: 24px;
//   justify-content: center;
//   margin-top: 32px;

//   > img {
//     width: 72px;
//     height: auto;
//     margin: 16px 0;
//   }

//   @include media-tablet {
//     justify-content: space-evenly;

//     > img {
//       width: 96px;
//     }
//   }

//   @include media-laptop {
//     gap: 48px;

//     > img {
//       width: 120px;
//     }
//   }
// }

/*--community--*/
.community {
  margin: 40px 0px;
}
.community-box {
  color: $dark-grey;
  text-align: center;
}

.frame-4 {
  @include flexSpaceBetween;
  align-items: map-get($align-items, "$center");
}

.frame-4-group {
  text-align: center;
  margin: 24px 32px;

  > p {
    max-width: 250px;
    font-size: map-get($font-sizes, "regular-body-4");
    line-height: map-get($line-heights, "small");
  }
}

/*--unlock-mobile --*/ /*--calender--*/

.frame-img {
  margin: 52px auto;
}

.frame-5,
.frame-7 {
  max-width: 661px;
}

/*--achievements--*/
.achievements {
  @include flexSpaceBetween;
  background-color: $silver;
  padding: 64px 144px;
}
.achievements-frame-rights {
  @include flexCenter;
  gap: 30px;

  > h3 {
    font-weight: map-get($font-weights, "bold");
  }
}
.row-frame-text {
  margin: 0px;
}

.achievements-numbers {
  @include flexCenter;
  gap: 16px;
  margin-bottom: map-get($spacing, "margin-bottom-medium-big");
}

/*--customers--*/
.customers {
  background-color: $silver;
  gap: 78px;

  > img {
    width: 326px;
    height: 326px;
  }
}

.frame-customers {
  max-width: 750px;
  margin: 55px;
}
.frame-customers-content {
  margin-bottom: map-get($spacing, "margin-bottom-normal");
}
.special-p {
  color: $light-grey;
  margin-bottom: map-get($spacing, "margin-bottom-medium");
}
.frame-customers-icons {
  @include flexCenter;
  gap: 28px;
}

/*--community-updates--*/
.community-updates {
  text-align: center;

  > p {
    max-width: 628px;
    margin: 0px auto 16px auto;
  }
}

.frame-community-updates {
  @include flexSpaceBetween;
  max-width: 1440px;
  padding: 0px 144px;
  align-items: map-get($align-items, "$center");
  margin: 0px auto;
}
.picture-box {
  position: map-get($position, "relative");

  > img {
    border-radius: map-get($border-radius, "medium");
    background: lightgray 50% / cover no-repeat;
    display: map-get($display, "block");
  }
}

.picture-box-content {
  @include positionAbsoluteCenter;
  transform: translate(8%);
  padding: 16px;
  border-radius: map-get($border-radius, "medium");
  background: $silver;
  /* Shadow/8px */
  box-shadow: map-get($box-shadows, "box-shadow");

  > h4 {
    max-width: 285px;
    color: $grey;
  }
}

/*--pre-footer--*/
.pre-footer {
  margin-top: 95px;
  padding: 32px 0px;
  background: $silver;
}

/*--footer--*/
footer {
  @include flexSpaceBetween;
  padding: 64px 165px;
  gap: 125px;
  background: $black;

  // Left div of footer
  > div:first-child {
    .footer-logo {
      img {
        margin: 0 10px 40px 0;
      }
    }

    .copyright {
      margin-bottom: map-get($spacing, "margin-bottom-medium-big");

      p {
        color: $silver;
        width: 350px;
        font-family: $font-family;
        font-size: map-get($font-sizes, "regular-body-4");
        font-style: normal;
        font-weight: map-get($font-weights, "regular");
        line-height: map-get($line-heights, "small");
        margin: 0;
      }
    }

    .icons-footer {
      @include flexStart;
      gap: 16px;
      cursor: pointer;

      img {
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  // Right div of footer
  .footer-right {
    display: map-get($display, "flex");
    gap: 30px;

    .footer-column {
      .footer-column-header {
        color: $white;
        margin-bottom: map-get($spacing, "margin-bottom-normal-medium");
      }

      .footer-column-items {
        list-style: none;
        color: $silver;
        font-size: map-get($font-sizes, "regular-body-4");
        line-height: map-get($line-heights, "small");
        margin-right: 60px;

        li {
          cursor: pointer;
          margin-bottom: map-get($spacing, "margin-bottom-small");

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .footer-column-with-input {
      .footer-column-header {
        color: $white;
        margin-bottom: map-get($spacing, "margin-bottom-normal-medium");
      }

      .input-with-icon {
        position: map-get($position, "relative");
        display: map-get($display, "inline-block");
        width: 255px;
        border-radius: map-get($border-radius, "medium");
        opacity: 0.2;
        background: $white;

        input[type="email"] {
          width: 100%;
          padding-left: 10px;
          box-sizing: border-box;
          height: 40px;
          border-radius: map-get($border-radius, "medium");

          &::placeholder {
            font-family: $font-family;
            font-size: map-get($font-sizes, "regular-body-4");
            font-style: normal;
            font-weight: map-get($font-weights, "regular");
            line-height: map-get($line-heights, "small");
            opacity: 1;
            color: $white;
          }
        }

        .input-icon {
          @include positionAbsoluteCenter;
          right: 10px;
          transform: translateY(-50%);
          pointer-events: none;
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}
