@import "base/variables";
@import "utiles/mixins";
@import "utiles/responsive";
@import "layout/header";
@import "layout/wrapper";
@import "layout/hero";
@import "layout/clients";
@import "layout/community";
@import "layout/mobile_calender";
@import "layout/clients";
@import "layout/achievements";
@import "layout/customers";
@import "layout/updates";
@import "layout/footer";

*,
*::before,
*::after {
  box-sizing: border-box; /*This makes all paddings/borders included in the width calculation:*/
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  padding: 16px;

  @include media-tablet {
    padding: 32px;
  }

  @include media-laptop {
    padding: 32px 144px;
  }
}
body {
  font-family: $font-family, sans-serif;
}
button {
  background-color: $white;
  /*font-size: 1rem;*/
  border: none;
  border-radius: map-get($border-radius, "small");
  transition: 150ms ease-in-out;
  transition-property: background-color, color;
}

/*fonts*/
h1 {
  font-size: map-get($font-sizes, "regular-headline-3");
  color: $dark-grey;
  margin-bottom: map-get($spacing, "margin-bottom-normal");

  @include media-tablet {
    font-size: map-get($font-sizes, "regular-headline-3");
  }

  @include media-laptop {
    font-size: map-get($font-sizes, "regular-headline-2");
  }
}

h2 {
  font-size: map-get($font-sizes, "regular-body-1");
  color: $dark-grey;
  margin-bottom: map-get($spacing, "margin-bottom-tiny");

  @include media-tablet {
    font-size: map-get($font-sizes, "regular-body-1");
  }

  @include media-laptop {
    font-size: map-get($font-sizes, "regular-body-1");
  }
}

h3 {
  font-size: map-get($font-sizes, "regular-body-2");
  color: $dark-grey;
  margin-bottom: map-get($spacing, "margin-bottom-normal");

  @include media-tablet {
    font-size: map-get($font-sizes, "regular-body-2");
  }

  @include media-laptop {
    font-size: map-get($font-sizes, "regular-body-1");
  }
}

h4 {
  font-size: map-get($font-sizes, "regular-body-3");
  color: $primary;
  font-weight: map-get($font-weights, "semi-bold");
  line-height: map-get($line-heights, "medium");

  @include media-tablet {
    font-size: map-get($font-sizes, "regular-body-3");
  }

  @include media-laptop {
    font-size: map-get($font-sizes, "regular-body-2");
  }
}

p {
  font-size: map-get($font-sizes, "regular-body-4");
  color: $grey;
  margin-bottom: map-get($spacing, "margin-bottom-medium");

  @include media-tablet {
    font-size: map-get($font-sizes, "regular-body-3");
  }

  @include media-laptop {
    font-size: map-get($font-sizes, "regular-body-3");
  }
}
button {
  font-family: $font-family;
  font-size: map-get($font-sizes, "regular-body-3");
  font-weight: map-get($font-weights, "medium");
  line-height: map-get($line-heights, "normal");
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
.button.primary-medium {
  background-color: $primary;
  color: $white;
  border: 0;
  border-radius: map-get($border-radius, "tiny");
  padding: 14px 32px;
  transition: background 0.4s, color 0.2s; /* smooth transition */

  &:hover {
    background: $shade2;
  }
}
.button-green-underline {
  display: map-get($display, "flex");
  cursor: pointer;
  align-items: map-get($align-items, "center");
  padding: 8px;
  gap: 8px;
  background-color: $silver;
  margin: 0px auto;

  &:hover {
    text-decoration: underline;
    text-decoration-color: $primary;
  }
}
// /*--header--*/
// header {
//   position: map-get($position, "sticky");
//   top: 0px;
//   background-color: $white;
//   padding: 16px 0px;
//   z-index: 1000;
// }

// header .container {
//   @include flexSpaceBetween;
//   align-items: map-get($align-items, "center");
// }

// .right-menu {
//   display: none;

//   @include media-laptop {
//     @include flexCenter;
//     gap: 32px;
//     color: $dark-grey;
//   }
// }

// .burger {
//   display: block;
//   width: 32px;
//   height: 24px;
//   position: relative;
//   cursor: pointer;

//   span {
//     display: block;
//     height: 3px;
//     width: 100%;
//     background-color: $dark-grey;
//     position: absolute;
//     left: 0;
//     border-radius: 2px;

//     &:nth-child(1) {
//       top: 0;
//     }
//     &:nth-child(2) {
//       top: 50%;
//       transform: translateY(-50%);
//     }
//     &:nth-child(3) {
//       bottom: 0;
//     }
//     @include media-laptop {
//       display: none;
//     }
//   }
// }

// .highlight {
//   color: $primary;
//   font-weight: map-get($font-weights, "bold");
// }

// /*--main--*/
// .main-wrapper {
//   @include flexCenter;
//   flex-direction: column;
//   gap: 32px;
//   margin-bottom: map-get($spacing, "$margin-bottom-big");

//   img {
//     max-width: 100%;
//     height: auto;
//   }

//   > div {
//     text-align: center;
//     max-width: 100%;
//   }

//   @include media-tablet {
//     flex-direction: row;
//     align-items: center;
//     justify-content: space-between;
//     gap: 48px;

//     > div {
//       flex: 1;
//       text-align: left;
//     }

//     img {
//       flex: 1;
//       max-width: 50%;
//     }
//   }

//   @include media-laptop {
//     gap: 64px;
//     margin-bottom: map-get($spacing, "margin-bottom-huge");

//     > div {
//       max-width: 600px;
//     }
//   }
// }

// /*--hero-section--*/

// .hero-section {
//   @include flexCenter;
//   flex-direction: column;
//   gap: 48px;
//   padding: 48px 16px;
//   background-color: $silver;
//   text-align: center;

//   > img {
//     max-width: 100%;
//     height: auto;
//     margin: 0 auto;
//   }

//   @include media-tablet {
//     @include flexSpaceBetween;
//     flex-direction: row;
//     // justify-content: space-between;
//     // align-items: center;
//     gap: 64px;
//     padding: 64px 32px;
//     text-align: left;

//     > img {
//       flex: 1;
//       max-width: 50%;
//       margin: auto 0;
//     }
//   }

//   @include media-laptop {
//     gap: 104px;
//     padding: 96px 144px;

//     > img {
//       max-width: 45%;
//     }
//   }
// }

// .frame {
//   @include flexStart;
//   flex-direction: column;
//   gap: 24px;

//   h1 {
//     margin-bottom: 16px;
//   }

//   p {
//     margin-bottom: 24px;
//   }

//   /* mobile */
//   @media (max-width: 767px) {
//     align-items: center;
//     text-align: center;
//   }
// }

// /*--clients--*/
// .clients {
//   padding: 48px 16px;
//   text-align: center;

//   > p {
//     margin-bottom: map-get($spacing, "$margin-bottom-normal");
//   }

//   @include media-tablet {
//     padding: 64px 32px;
//   }

//   @include media-laptop {
//     padding: 96px 144px;
//   }
// }

// .clients-logos {
//   @include flexCenter;
//   flex-wrap: wrap;
//   gap: 24px;
//   justify-content: center;
//   margin-top:  map-get($spacing-top, "margin-top-medium");

//   > img {
//     width: 72px;
//     height: auto;
//     margin: 16px 0;
//   }

//   @include media-tablet {
//     justify-content: space-evenly;

//     > img {
//       width: 96px;
//     }
//   }

//   @include media-laptop {
//     gap: 48px;

//     > img {
//       width: 120px;
//     }
//   }
// }

// /*--community--*/
// .community {
//   margin: 40px 0;
//   padding: 0 16px;
//   text-align: center;

//   @include media-tablet {
//     padding: 0 32px;
//   }

//   @include media-laptop {
//     padding: 0 144px;
//   }
// }
// .community-box {
//   color: $dark-grey;
//   margin-bottom: map-get($spacing, "$margin-bottom-medium");

//   h2 {
//     margin-bottom: map-get($spacing, "$margin-bottom-normal");
//   }
// }

// .frame-4 {
//   display: flex;
//   flex-direction: column; // mobile: елементи підряд
//   align-items: map-get($align-items, "$center");
//   gap: 32px;

//   @include media-tablet {
//     @include flexSpaceBetween;
//     align-items: map-get($align-items, "$center");
//     flex-direction: row;
//     flex-wrap: wrap; // щоб елементи переносилися
//     gap: 24px;
//   }

//   @include media-laptop {
//     @include flexSpaceEvenly;
//     gap: 48px;
//   }
// }

// .frame-4-group {
//   text-align: center;
//   margin: 24px 32px;
//   flex: 1 1 200px;

//   > p {
//     max-width: 250px;
//     margin: 0 auto;
//     font-size: map-get($font-sizes, "regular-body-4");
//     line-height: map-get($line-heights, "small");
//   }
// }

// /*--unlock-mobile --*/ /*--calender--*/

// .unlock-mobile,
// .calender {
//   padding: 48px 16px;
//   text-align: center;

//   @include media-tablet {
//     @include flexSpaceBetween;
//     align-items: map-get($align-items, "$center");
//     padding: 64px 32px;
//     text-align: left;
//     gap: 32px;
//   }

//   @include media-laptop {
//     padding: 96px 144px;
//     gap: 64px;
//   }
// }

// .frame-img {
//   margin: 32px auto;
//   max-width: 100%;
//   height: auto;

//   @include media-tablet {
//     flex: 1;
//     margin: 0;
//   }
// }

// .frame-5,
// .frame-7 {
//   max-width: 661px;
//   margin: 0 auto;

//   @include media-tablet {
//     flex: 1;
//     margin: 0;
//   }
// }

// /*--achievements--*/
// .achievements {
//   background-color: $silver;
//   display: flex;
//   flex-direction: column;
//   align-items: map-get($align-items, "$center");
//   text-align: center;
//   padding: 48px 16px;
//   gap: 40px;

//   @include media-tablet {
//     @include flexSpaceBetween;
//     @include flexCenter;
//     flex-direction: row;
//     background-color: $silver;
//     padding: 64px 32px;
//     gap: 48px;
//   }

//   @include media-laptop {
//     padding: 96px 144px;
//     gap: 64px;
//   }
// }
// .achievements-frame-rights {
//   display: flex;
//   flex-direction: column;
//   gap: 32px;

//   @include media-tablet {
//     gap: 40px;
//   }

//   @include media-laptop {
//     gap: 56px;
//   }

//   > h3 {
//     font-weight: map-get($font-weights, "bold");
//   }
// }

// .row-frame-text {
//   margin: 0px;
// }

// .numbers-row {
//   display: flex;
//   flex-direction: column;
//   gap: 24px;

//   @include media-tablet {
//     @include flexStart;
//     flex-direction: row;
//     gap: 48px;
//   }
// }

// .achievements-numbers {
//   @include flexCenter;
//   justify-content: flex-start;
//   gap: 16px;
//   margin-bottom: map-get($spacing, "margin-bottom-medium-big");

//   img {
//     width: 40px;
//     height: 40px;

//     @include media-laptop {
//       width: 48px;
//       height: 48px;
//     }
//   }

//   h3 {
//     font-size: map-get($font-sizes, "regular-body-2");
//     margin: 0;
//   }

//   p {
//     margin: 0;
//     color: $dark-grey;
//   }
// }

/*--customers--*/
// .customers {
//   background-color: $silver;
//   display: flex;
//   flex-direction: column;
//   align-items: map-get($align-items, "$center");
//   gap: 32px;
//   padding: 48px 16px;
//   text-align: center;

//   > img {
//     width: 220px;
//     height: auto;
//     margin: 0 auto;
//   }

//   @include media-tablet {
//     @include flexCenter;
//     flex-direction: row;
//     align-items: map-get($align-items, "$center");
//     gap: 48px;
//     padding: 64px 32px;
//     text-align: left;

//     > img {
//       width: 280px;
//       height: auto;
//       flex-shrink: 0;
//     }
//   }

//   @include media-laptop {
//     gap: 78px;
//     padding: 96px 144px;

//     > img {
//       width: 326px;
//       height: 326px;
//     }
//   }
// }

// .frame-customers {
//   max-width: 750px;
//   margin: 0 auto;

//   @include media-tablet {
//     margin: 0;
//   }
// }

// .frame-customers-content {
//   margin-bottom: map-get($spacing, "margin-bottom-normal");
// }
// .special-p {
//   color: $light-grey;
//   margin-bottom: map-get($spacing, "margin-bottom-medium");
// }

// .frame-customers-icons {
//   @include flexCenter;
//   flex-wrap: wrap;
//   gap: 20px;

//   @include media-tablet {
//     @include flexStart;
//     gap: 28px;
//   }
// }

// /*--community-updates--*/
// .community-updates {
//   text-align: center;
//   padding: 48px 16px;

//   > p {
//     max-width: 628px;
//     margin: 0 auto 16px auto;
//     font-size: map-get($font-sizes, "regular-body-3");
//     line-height: map-get($line-heights, "medium");
//     color: $dark-grey;
//   }

//   @include media-tablet {
//     padding: 64px 32px;
//   }

//   @include media-laptop {
//     padding: 96px 144px;
//   }
// }
// .frame-community-updates {
//   display: grid;
//   grid-template-columns: 1fr; // mobile
//   gap: 32px;
//   margin: 0 auto;
//   max-width: 1440px;

//   @include media-tablet {
//     grid-template-columns: repeat(2, 1fr);
//     gap: 40px;
//   }

//   @include media-laptop {
//     grid-template-columns: repeat(3, 1fr);
//     gap: 48px;
//   }
// }

// .picture-box {
//   position: map-get($position, "relative");
//   margin-bottom: map-get($spacing, "margin-bottom-small");

//   > img {
//     width: 100%;
//     border-radius: map-get($border-radius, "medium");
//     background: lightgray 50% / cover no-repeat;
//     display: map-get($display, "block");
//   }
// }

// .picture-box-content {
//   @include positionAbsoluteCenter;
//   // bottom: 16px;
//   left: 16px;
//   right: 16px;
//   // padding: 16px;
//   border-radius: map-get($border-radius, "medium");
//   background: $silver;
//   box-shadow: map-get($box-shadows, "box-shadow");
//   text-align: center;

//   > h4 {
//     max-width: 285px;
//     color: $grey;
//     font-size: map-get($font-sizes, "regular-body-2");
//     margin-bottom: 8px;
//   }

//   button {
//     margin-top: map-get($spacing-top, "margin-top-tiny");
//   }
// }

/*--pre-footer--*/
// .pre-footer {
//   margin-top: map-get($spacing-top, "margin-top-medium-big");
//   background: $silver;
//   text-align: center;

//   @include media-tablet {
//     margin-top: map-get($spacing-top, "margin-top-big");
//   }

//   @include media-laptop {
//     margin-top: map-get($spacing-top, "margin-top-huge");
//   }
// }

// /*--footer--*/
// footer {
//   display: flex;
//   flex-direction: column;
//   align-items: map-get($align-items, "$center");
//   text-align: center;
//   padding: 32px 16px;
//   gap: 40px;
//   background: $black;

//   > div:first-child {
//     .footer-logo {
//       img {
//         margin: 0 8px 24px 0;
//         width: auto;
//         height: 30px;
//       }
//     }

//     .copyright {
//       margin-bottom: map-get($spacing, "margin-bottom-normal-medium");

//       p {
//         color: $silver;
//         font-size: map-get($font-sizes, "regular-body-4");
//         line-height: map-get($line-heights, "small");
//         max-width: 90%;
//         margin: 0 auto 8px;
//       }
//     }

//     .icons-footer {
//       @include flexSpaceCenter;
//       gap: 16px;

//       img {
//         cursor: pointer;
//         transition: opacity 0.2s ease;

//         &:hover {
//           opacity: 0.7;
//         }
//       }
//     }
//   }

//   .footer-right {
//     display: flex;
//     flex-direction: column;
//     gap: 32px;

//     .footer-column,
//     .footer-column-with-input {
//       .footer-column-header {
//         color: $white;
//         margin-bottom: map-get($spacing, "margin-bottom-normal-small");
//       }

//       .footer-column-items {
//         list-style: none;
//         padding: 0;
//         margin: 0;

//         li {
//           color: $silver;
//           margin-bottom: map-get($spacing, "margin-bottom-tiny");
//           cursor: pointer;
//           font-size: map-get($font-sizes, "regular-body-4");

//           &:hover {
//             text-decoration: underline;
//           }
//         }
//       }
//     }

//     .footer-column-with-input {
//       .input-with-icon {
//         width: 100%;
//         max-width: 280px;
//         margin: 0 auto;
//       }
//     }
//   }

//   @include media-tablet {
//     flex-direction: row;
//     align-items: map-get($align-items, "flex-start");
//     text-align: left;
//     padding: 48px 32px;

//     > div:first-child {
//       flex: 1;
//     }

//     .footer-right {
//       @include flexSpaceBetween;
//       flex: 2;
//       flex-direction: row;
//       align-items: map-get($align-items, "flex-start");
//       gap: 40px;
//     }

//     .footer-column-with-input {
//       .input-with-icon {
//         max-width: 340px;
//         margin: 0;
//       }
//     }
//   }

//   @include media-laptop {
//     padding: 64px 145px;
//     gap: 125px;

//     footer {
//       .footer-column-with-input {
//         .input-with-icon {
//           display: flex;
//           align-items: center;
//           max-width: 400px;
//           width: auto;
//           margin: 0;
//         }

//         input[type="email"] {
//           flex: 1;
//         }

//         .input-icon {
//           position: static;
//           transform: none;
//           margin-left: 8px;
//         }
//       }
//     }
//   }
// }
