@import "base/variables";
@import "utiles/mixins";
@import "utiles/responsive";
@import "layout/header";
@import "layout/wrapper";
@import "layout/hero";
@import "layout/clients";
@import "layout/community";
@import "layout/mobile_calender";
@import "layout/clients";
@import "layout/achievements";
@import "layout/customers";
@import "layout/updates";
@import "layout/footer";

*,
*::before,
*::after {
  box-sizing: border-box; /*This makes all paddings/borders included in the width calculation:*/
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  padding: 16px;

  @include media-tablet {
    padding: 32px;
  }

  @include media-laptop {
    padding: 32px 144px;
  }
}
body {
  font-family: $font-family, sans-serif;
}
button {
  background-color: $white;
  /*font-size: 1rem;*/
  border: none;
  border-radius: map-get($border-radius, "small");
  transition: 150ms ease-in-out;
  transition-property: background-color, color;
}

/*fonts*/
h1 {
  font-size: map-get($font-sizes, "regular-headline-3");
  color: $dark-grey;
  margin-bottom: map-get($spacing, "margin-bottom-normal");

  @include media-tablet {
    font-size: map-get($font-sizes, "regular-headline-3");
  }

  @include media-laptop {
    font-size: map-get($font-sizes, "regular-headline-2");
  }
}

h2 {
  font-size: map-get($font-sizes, "regular-body-1");
  color: $dark-grey;
  margin-bottom: map-get($spacing, "margin-bottom-tiny");

  @include media-tablet {
    font-size: map-get($font-sizes, "regular-body-1");
  }

  @include media-laptop {
    font-size: map-get($font-sizes, "regular-body-1");
  }
}

h3 {
  font-size: map-get($font-sizes, "regular-body-2");
  color: $dark-grey;
  margin-bottom: map-get($spacing, "margin-bottom-normal");

  @include media-tablet {
    font-size: map-get($font-sizes, "regular-body-2");
  }

  @include media-laptop {
    font-size: map-get($font-sizes, "regular-body-1");
  }
}

h4 {
  font-size: map-get($font-sizes, "regular-body-3");
  color: $primary;
  font-weight: map-get($font-weights, "semi-bold");
  line-height: map-get($line-heights, "medium");

  @include media-tablet {
    font-size: map-get($font-sizes, "regular-body-2");
  }

  @include media-laptop {
    font-size: map-get($font-sizes, "regular-body-2");
  }
}

p {
  font-size: map-get($font-sizes, "regular-body-4");
  color: $grey;
  margin-bottom: map-get($spacing, "margin-bottom-medium");

  @include media-tablet {
    font-size: map-get($font-sizes, "regular-body-3");
  }

  @include media-laptop {
    font-size: map-get($font-sizes, "regular-body-3");
  }
}
button {
  font-family: $font-family;
  font-size: map-get($font-sizes, "regular-body-3");
  font-weight: map-get($font-weights, "medium");
  line-height: map-get($line-heights, "normal");
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
.button.primary-medium {
  background-color: $primary;
  color: $white;
  border: 0;
  border-radius: map-get($border-radius, "tiny");
  padding: 14px 32px;
  transition: background 0.4s, color 0.2s; /* smooth transition */

  &:hover {
    background: $shade2;
  }
}
.button-green-underline {
  display: map-get($display, "flex");
  cursor: pointer;
  align-items: map-get($align-items, "center");
  padding: 8px;
  gap: 8px;
  background-color: $silver;
  margin: 0px auto;

  &:hover {
    text-decoration: underline;
    text-decoration-color: $primary;
  }
}
