:root{
    /*--color variables--*/
    --black:#263238;
    --dark-grey:#4D4D4D;
    --grey:#717171;
    --light-graey:#89939E;
    --grey-blue:#ABBED1;
    --silver:#F5F7FA;
    --white:#FFFFFF;
    --primary:#28CB8B;
    --secondary:#263238;
    --info:#2194f3;
    --shade1:#43A046;
    --shade2:#388E3B;
    --shade3:#237D31;
    --shade4:#1B5E1F;
    --shade5:#103E13;
    --tint1:#66BB69;
    --tint2:#81C784;
    --tint3:#81C784;
    --tint4:#C8E6C9;
    --tint5:#E8F5E9;
    --warning:#FBC02D;
    --error:#E53835;
    --success:#2E7D31;
}

/*--font variables--*/
h1 {
    font-family: "Inter", sans-serif;
    font-size:48px;
    font-weight: 600;
}
p {
    font-family: "Inter", sans-serif;
}

button {
    font-family: "Inter", sans-serif;
    /*font-size: 1rem;*/
    font-weight: 400;
    line-height: 1.33;
    border-radius: 4;
    transition: 150ms ease-in-out;
    transition-property: background-color, color;
}

.button.normal-icon-right{
    background-color: var(--primary);
    color: var(--white);
    line-height: 1.5;
    padding: 9px 22px;
    border: 0;
    border-radius: 2.78px;   
}

.button.normal-icon-right:hover{
    background-color: var(--primary);
    color: var(--white);  
}

.highlight {
    color:var(--primary);
    font-weight: 700;
}

.flex-main{
    display: flex;
    flex-direction: row;
}