:root {
  /*--color variables--*/
  --black: #263238;
  --dark-grey: #4d4d4d;
  --grey: #717171;
  --light-grey: #89939e;
  --grey-blue: #abbed1;
  --silver: #f5f7fa;
  --white: #ffffff;
  --primary: #4caf4f;
  --secondary: #263238;
  --info: #2194f3;
  --shade1: #43a046;
  --shade2: #388e3b;
  --shade3: #237d31;
  --shade4: #1b5e1f;
  --shade5: #103e13;
  --tint1: #66bb69;
  --tint2: #81c784;
  --tint3: #81c784;
  --tint4: #c8e6c9;
  --tint5: #e8f5e9;
  --warning: #fbc02d;
  --error: #e53835;
  --success: #2e7d31;
}

body {
  display: block;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
  padding: 0px 144px;
  margin: 24px 0px;
  align-items: center;
  width: 1640px;
  font-family: "Inter", sans-serif;
}

.button.primary-medium {
  background-color: var(--primary);
  color: var(--white);
  border: 0;
  border-radius: 2.78px;
  padding: 14px 32px;
}
button {
  background-color: #ffffff;
  /*font-size: 1rem;*/
  border: none;
  border-radius: 6px;
  transition: 150ms ease-in-out;
  transition-property: background-color, color;
}

/*fonts*/
h1 {
  font-size: 64px;
  color: #4d4d4d;
  margin-bottom: 16px;
}

h2 {
  font-size: 36px;
  color: #4d4d4d;
  text-align: center;
  margin-bottom: 8px;
}

h3 {
  font-size: 28px;
  color: #4d4d4d;
  margin-bottom: 16px;
}

h4 {
  font-size: 20px;
  color: var(--primary);
}

p {
  font-size: 16px;
  color: var(--grey);
  margin-bottom: 32px;
}

/*--header--*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  height: 84px;
  top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: var(--white);
}
.logo {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.right-menu {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.button.normal-icon-right {
  display: flex;
  align-items: center;

  background-color: var(--primary);
  color: var(--white);
  border-radius: 6px;
  padding: 10px 20px;
  align-items: center;
  background: var(--Brand-Primary, #4caf4f);
}

.button.normal-icon-right:hover {
  background-color: var(--primary);
  color: var(--white);
}

.highlight {
  color: var(--primary);
  font-weight: 700;
}

/*--main--*/

.hero-section,
.clients,
.unlock-mobile,
.achievements,
.calender,
.customers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}

/*--hero-section--*/

.hero-section {
  padding: 96px 144px;
  background-color: var(--silver);
  gap: 104px;
}

/*--clients--*/
.clients {
  flex-direction: column;
  margin: 40px 0px;
}

.clients > p {
  margin-bottom: 16px;
}

.clients-logos {
  display: flex;
  height: 98px;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: auto;
  align-items: center;
  align-self: stretch;
}

.client-logos img {
  width: 40px;
  height: 28px;
}
/*--community--*/
.community {
  margin: 40px 0px;
}
.community-box {
  color: var(--dark-grey);
  text-align: center;
}

.frame-4 {
  display: flex;
  justify-content: space-around;
}

.organisations,
.associations,
.groups {
  flex-direction: column;
  text-align: center;
  flex: 1;
  flex-grow: 0;
  margin: 24px 32px;
}

.organisations > p,
.associations > p,
.groups > p {
  width: 250px;
  font-size: 14px;
  line-height: 20px;
}

/*--unlock-mobile --*/ /*--calender--*/

.unlock-mobile > img,
.calender > img {
  margin-left: auto;
  margin-right: auto;
}

.frame-5,
.frame-7 {
  display: flex;
  width: 661px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}
.button.unlock-medium,
.button.unlock-calender {
  background-color: var(--primary);
  color: var(--white);
  border: 0;
  border-radius: 2.78px;
  padding: 14px 32px;
}

/*--achievements--*/
.achievements {
  background-color: var(--silver);
  padding: 64px 144px;
  align-items: center;
}
.achievements-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}
.achievements-text > h2 {
  text-align: start;
}
.achievements-frame-rights {
  align-items: center;
}
.numbers_row_1,
.numbers_row_2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.members_numbers > img,
.frame_numbers > img,
.events_numbers > img,
.payments_numbers > img {
  width: 48px;
  height: 48px;
}
.achievements-frame-rights > h3 {
  font-weight: 700;
}
.members_numbers,
.frame_numbers,
.events_numbers,
.payments_numbers {
  display: flex;
  align-items: center;
  width: 250px;
  gap: 16px;
}

/*--customers--*/
.customers {
  gap: 78px;
  background-color: var(--silver);
  padding: 32px 144px;
}
.customers > img {
  width: 326px;
  height: 326px;
}

.frame-customers-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.frame-customers-content > p,
.frame-customers-content > h4,
.special-p {
  margin: 0px;
  align-self: stretch;
}
.special-p {
  color: var(--light-grey);
}

.frame-customers-icons-frame {
  display: flex;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}
.frame-customers-icons {
  display: flex;
  align-items: center;
  gap: 21px;
}
.button-customers {
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 8px;
  background-color: var(--silver);
}
.button-customers > h4 {
  width: 144px;
}

/*--community-updates--*/
.community-updates {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.frame-community-updates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: auto;
}
.picture-box-1 img,
.picture-box-2 img,
.picture-box-3 img {
  display: block;
  position: relative;
  border-radius: 8px;
  object-fit: cover;
}
.picture-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  position: absolute;

  border-radius: 8px;
  background-color: var(--silver);

  /* Shadow/8px */
  box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.4);
}
.picture_1_content > h4,
.picture_2_content > h4,
.picture_3_content > h4 {
  color: var(--Brand-Primary, #4caf4f);
  /* Heading/Headline 4 */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 140% */
}
.button_1_community_updates_arrow,
.button_2_community_updates_arrow,
.button_3_community_updates_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

/*--pre-footer--*/
.pre-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background: var(--Neutral-Silver, #f5f7fa);
}

.pre-footer > h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  color: var(--Neutral-Black, #263238);
  text-align: center;
}

.button.get-a-demo {
  background-color: var(--primary);
  color: var(--white);
  width: 133px;
  height: 36px;
  line-height: 1.5;
  margin-left: 5px;
  border: 0;
  border-radius: 2.78px;
}

.button.get-a-demo:hover {
  background-color: var(--primary);
  color: var(--white);
}

/*--footer--*/
