/*--community--*/
.community {
  margin: 40px 0;
  padding: 0 16px;
  text-align: center;

  @include media-tablet {
    padding: 0 32px;
  }

  @include media-laptop {
    padding: 0 144px;
  }
}
.community-box {
  color: $dark-grey;
  margin-bottom: map-get($spacing, "$margin-bottom-medium");

  h2 {
    margin-bottom: map-get($spacing, "$margin-bottom-normal");
  }
}

.frame-4 {
  display: flex;
  flex-direction: column; // mobile: елементи підряд
  align-items: map-get($align-items, "$center");
  gap: 32px;

  @include media-tablet {
    @include flexSpaceBetween;
    align-items: map-get($align-items, "$center");
    flex-direction: row;
    flex-wrap: wrap; // щоб елементи переносилися
    gap: 24px;
  }

  @include media-laptop {
    @include flexSpaceEvenly;
    gap: 48px;
  }
}

.frame-4-group {
  text-align: center;
  margin: 24px 32px;
  flex: 1 1 200px;

  > p {
    max-width: 250px;
    margin: 0 auto;
    font-size: map-get($font-sizes, "regular-body-4");
    line-height: map-get($line-heights, "small");
  }
}
