:root {
  /*--color variables--*/
  --black: #263238;
  --dark-grey: #4d4d4d;
  --grey: #717171;
  --light-grey: #89939e;
  --grey-blue: #abbed1;
  --silver: #f5f7fa;
  --white: #ffffff;
  --primary: #4caf4f;
  --secondary: #263238;
  --info: #2194f3;
  --shade1: #43a046;
  --shade2: #388e3b;
  --shade3: #237d31;
  --shade4: #1b5e1f;
  --shade5: #103e13;
  --tint1: #66bb69;
  --tint2: #81c784;
  --tint3: #81c784;
  --tint4: #c8e6c9;
  --tint5: #e8f5e9;
  --warning: #fbc02d;
  --error: #e53835;
  --success: #2e7d31;
}
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
  padding: 0px 144px;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.button.primary-medium {
  background-color: var(--primary);
  color: var(--white);
  border: 0;
  border-radius: 2.78px;
  padding: 14px 32px;
}
button {
  background-color: #ffffff;
  /*font-size: 1rem;*/
  border: none;
  border-radius: 6px;
  transition: 150ms ease-in-out;
  transition-property: background-color, color;
}

/*fonts*/
h1 {
  font-size: 64px;
  color: #4d4d4d;
  margin: 0px 0px 16px 0px;
}

h2 {
  font-size: 36px;
  color: #4d4d4d;
  text-align: center;
}

h3 {
  font-size: 28px;
  color: #4d4d4d;
  margin-bottom: 16px;
}

h4 {
  font-size: 20px;
  color: var(--primary);
}

p {
  font-size: 16px;
  color: var(--grey);
  margin: 0px 0px 32px 0px;
}

/*--header--*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  height: 84px;
  padding: 0px 120px 0px 105px;
  background-color: #ffffff;
}
.logo {
  display: inline-flex;
  align-items: center;
}

.right-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 16px;
  gap: 51px;
  flex: 1 0 0;
}
.right-menu > button {
  color: var(--dark-grey);

  font-family: "Inter", sans-serif;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.button.normal-icon-right {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 5.569px;

  color: var(--white);
  border-radius: 6px;
  background: var(--Brand-Primary, #4caf4f);
}

.button.normal-icon-right:hover {
  background-color: var(--primary);
  color: var(--white);
}

.highlight {
  color: var(--primary);
  font-weight: 700;
}

/*--main--*/

.hero-section,
.unlock-mobile,
.achievements,
.calender,
.customers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}

/*--hero-section--*/

.hero-section {
  padding: 96px 144px;
  gap: 104px;
  background-color: var(--silver);
}
.frame {
  align-items: flex-start;
}
.hero-section > img {
  margin-left: auto;
  margin-right: auto;
}

/*--clients--*/
.clients {
  padding: 0px 144px;
  text-align: center;
}
.clients > h2 {
  margin: 0px 0px 8px 0px;
}
.clients > p {
  margin: 0px 0px 16px 0px;
}

.clients-logos {
  display: flex;
  height: 98px;
  justify-content: space-evenly;
  align-items: center;
  align-self: stretch;
}

.client-logos img {
  width: 40px;
  height: 28px;
}
/*--community--*/
.community {
  margin: 40px 0px;
}
.community-box {
  color: var(--dark-grey);
  text-align: center;
}

.frame-4 {
  display: flex;
  justify-content: space-around;
}

.organisations,
.associations,
.groups {
  flex-direction: column;
  text-align: center;
  flex: 1;
  flex-grow: 0;
  margin: 24px 32px;
}

.organisations > p,
.associations > p,
.groups > p {
  width: 250px;
  font-size: 14px;
  line-height: 20px;
}

/*--unlock-mobile --*/ /*--calender--*/

.unlock-mobile > img,
.calender > img {
  margin-left: auto;
  margin-right: auto;
}

.frame-5,
.frame-7 {
  display: flex;
  width: 661px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}
.button.unlock-medium,
.button.unlock-calender {
  background-color: var(--primary);
  color: var(--white);
  border: 0;
  border-radius: 2.78px;
  padding: 14px 32px;
}

/*--achievements--*/
.achievements {
  background-color: var(--silver);
  padding: 64px 144px;
  align-items: center;
}
.achievements-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}
.achievements-text > h2 {
  text-align: start;
}
.achievements-frame-rights {
  align-items: center;
}
.numbers_row_1,
.numbers_row_2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.members_numbers > img,
.frame_numbers > img,
.events_numbers > img,
.payments_numbers > img {
  width: 48px;
  height: 48px;
}
.achievements-frame-rights > h3 {
  font-weight: 700;
}
.members_numbers,
.frame_numbers,
.events_numbers,
.payments_numbers {
  display: flex;
  align-items: center;
  width: 250px;
  gap: 16px;
}

/*--customers--*/
.customers {
  background-color: var(--silver);
  padding: 32px 144px;
  gap: 78px;
  margin: 0px 0px 48px 0px;
}
.customers > img {
  width: 326px;
  height: 326px;
}
.frame-customers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.frame-customers-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.frame-customers-content > p,
.frame-customers-content > h4,
.special-p {
  margin: 0px;
  align-self: stretch;
}
.special-p {
  color: var(--light-grey);
}

.frame-customers-icons-frame {
  display: flex;
  gap: 32px;
}
.frame-customers-icons {
  display: flex;
  align-items: center;
  gap: 41px;
}
.button-customers {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  background-color: var(--silver);
}
.button-customers > h4 {
  margin: 0px;
}

/*--community-updates--*/
.community-updates {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.community-updates-text-block {
  width: 628px;
  text-align: center;
  margin: 0px 0px 16px 0px;
}
.community-updates-text-block > h2 {
  margin: 0px 0px 8px 0px;
}
.community-updates-text-block > p {
  margin: 0px;
}
.frame-community-updates {
  display: flex;
  width: 1440px;
  padding: 0px 144px;
  justify-content: space-between;
  align-items: center;
}
.picture-box-1,
.picture-box-2,
.picture-box-3 {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  position: relative;
}
.picture-box-1 > img,
.picture-box-2 > img,
.picture-box-3 > img {
  border-radius: 8px;
  background: lightgray 50% / cover no-repeat;
}
.picture-box-1-content,
.picture-box-2-content,
.picture-box-3-content {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  text-align: center;
  background: var(--Neutral-Silver, #f5f7fa);

  position: absolute;
  margin: 182px;

  /* Shadow/8px */
  box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.4);
}
.picture-box-1-content > h4,
.picture-box-2-content > h4,
.picture-box-3-content > h4 {
  width: 285px;
  color: var(--Neutral-Grey, #717171);

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.button_1_community_updates_arrow,
.button_2_community_updates_arrow,
.button_3_community_updates_arrow {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  background-color: var(--Neutral-Silver, #f5f7fa);
}
/*--free-frame--*/
.free-frame {
  background-color: #ffffff;
  height: 130px;
}
/*--pre-footer--*/
.pre-footer {
  display: flex;
  width: 100%;
  padding: 32px 0px;
  flex-direction: column;
  align-items: center;
  margin: 32px 0px 0px 0px;
  background: var(--Neutral-Silver, #f5f7fa);
}

.pre-footer > h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  color: var(--Neutral-Black, #263238);
  text-align: center;
}

.button-demo {
  display: flex;
  padding: 14px 32px;
  justify-content: center;
  text-align: center;
  gap: 8px;
  background-color: var(--primary);
}
.button-demo > h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: var(--white);
}
.button-demo > img {
  padding: 5px 2.5px;
}
.button-demo:hover {
}

/*--footer--*/
footer {
  display: flex;
  padding: 64px 165px;
  align-items: flex-start;
  gap: 125px;

  background: var(--Neutral-Black, #263238);
}
.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px;
}
.copyright > p {
  color: var(--Neutral-Silver, #f5f7fa);
  width: 350px;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0px;
}
.icons-footer {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.footer-right {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.first-column,
.second-column,
.third-column {
  display: flex;
  flex-direction: column;
  width: 160px;
  align-items: flex-start;
  gap: 24px;
}
.first-column > h4,
.second-column > h4,
.third-column > h4 {
  color: var(--white);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.first-column-items,
.second-column-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  list-style: none;
  color: var(--Neutral-Silver, #f5f7fa);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.input-with-icon {
  position: relative;
  display: inline-block;
  width: 225px;
  border-radius: 8px;
  opacity: 0.2;
  background: var(--Default-White, #fff);
}

.input-with-icon input[type="email"] {
  width: 100%;
  padding-left: 10px;
  box-sizing: border-box;
  height: 40px;
  border-radius: 8px;
}
input::placeholder {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  opacity: 1;
  color: var(--Default-White, #fff);
}

.input-with-icon .input-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* icon does not block input interaction */
  width: 18px;
  height: 18px;
}
